# Data #
###################
*.pickle
*.env
*.gz
*.parquet

# logs #
###################
*.log

# IDEA config files #
###################
*/.idea/workspace.xml
*/.idea/tasks.xml

# bytecode #
############
__pycache__/

# Notebooks files #
###################
.ipynb_checkpoints/

# specific files #
######################


# Exceptions #
######################
